# inspect raw inputs

In [1]:
%load_ext autoreload
%autoreload 2
%autosave 0

from truckvotes import *

Autosave disabled

## read 2008 data

In [2]:
data = Election(2008).frame()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, AL to WY
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   blue    51 non-null     int64
 1   red     51 non-null     int64
 2   green   51 non-null     int64
 3   trucks  51 non-null     int64
 4   people  51 non-null     int64
dtypes: int64(5)
memory usage: 4.9+ KB

In [3]:
data.head()

          blue      red   green   trucks    people
state
AL      813479  1266546   19794  1266930   4661900
AK      123594   193841    8762   205445    686293
AZ     1034707  1230111   28657   875895   6500180
AR      422310   638017   26290   574398   2855390
CA     8274473  5011781  275646  4029168  36756666

## read 2012 data

In [4]:
data = Election(2012).frame()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, AL to WY
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   blue    51 non-null     int64
 1   red     51 non-null     int64
 2   green   51 non-null     int64
 3   trucks  51 non-null     int64
 4   people  51 non-null     int64
dtypes: int64(5)
memory usage: 4.9+ KB

In [5]:
data.head()

          blue      red   green   trucks    people
state
AL      795696  1255925   22717  1184860   4822023
AK      122640   164676   13179   227128    731449
AZ     1025232  1233654   40368  1020021   6553255
AR      394409   647744   27315   712285   2949131
CA     7854285  4839958  344304  4307036  38041430

## plot ???

In [6]:
bar_votes(votes)

NameError: name 'votes' is not defined

## plot ???

In [ ]:
scatter_votes(trucks,votes)
regression(trucks,votes['red'])

## convert `votes` -> `redness`

In [ ]:
numvotes = votes.sum(axis=1)
votefrac = votes.apply(lambda x: x/numvotes)
bar_votes(votefrac)

In [ ]:
voteness = votefrac.apply(logit)
bar_votes(voteness,stacked=False)

## convert `trucks` -> `truckness`

In [ ]:
truckdensity = (trucks/people).rename('truckdensity')
scatter_votes(truckdensity,votefrac)
regression(truckdensity,votefrac['red'])

In [ ]:
truckness = log10(truckdensity).rename('truckness')
scatter_votes(truckness,voteness)
regression(truckness,voteness['red'])